html {
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 2rem;
}

.icon-buttons button {
  all: unset;
}

.icon-buttons button:not(:last-child) {
  margin-right: 0.5em;
}

.icon-buttons i {
  transform: translateY(1px);
}

article header {
  display: flex;
  align-items: center;
}

article header h2 {
  flex: 1;
}